@model TechClPosts.Models.AppModels.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<div class="add-post-form form-group" id="addPost">

    <span class="glyphicon glyphicon-remove close-add-post-form" id="closeAddPostForm"></span>

    <h3>Description:</h3>
    <input type="text" placeholder="Enter Description" name="description" class="form-control" id="postDescription" />

    <h3>Subject:</h3>
    <select class="subjects-dropdown form-control" id="subjectDropdown"></select>

    <div class="container-for-post-creator" id="editorContainer">
        <div id="editor"></div>

    </div>

    <input type="button" value="Add new Post" class="add-post-btn btn btn-primary btn-lg" id="addNewPost" disabled="disabled" />

</div>

<div class="subjects-list" id="subjectsContainer">

    <span class="glyphicon glyphicon-remove close-subj-list" id="closeSubjList"></span>

    <div class="form-group">

        <h3>New Subject:</h3>
        <input type="text" placeholder="Subject Name" class="form-control" id="newSubjName" />

        <input type="button" value="Add new Subject" class="add-subj-btn btn btn-primary btn-lg" id="addSubject" disabled="disabled" />

    </div>

    <div class="subj-list-container" id="subjList">

    </div>

</div>

<div class="posts-list" id="postsListContainar">

    <span class="glyphicon glyphicon-remove close-posts-list" id="closePostjList"></span>

    <div class="posts-container" id="listOfPosts">

    </div>

</div>

<div class="post-details-container" id="postDetails" title="Post">

    <span class="glyphicon glyphicon-remove close-posts-details" id="closePostjDetails"></span>

    <div class="post-presenter" id="postContent">

    </div>

</div>

<div class="users-container" id="usersContainer">

    <span class="glyphicon glyphicon-remove close-user" id="closeUsers"></span>

    <div class="create-new-user form-group">

        <h2>New User</h2>

        <h3>User Name:</h3>
        <input type="text" placeholder="User Name" class="form-control" id="newUserName" />

        <h3>User Role</h3>
        <select class="form-control" id="newUserRole">
            <option value="0" selected="selected">Common User</option>
            <option value="1">Content Manager</option>
        </select>

        <h3>User Login</h3>
        <input type="text" placeholder="Login" class="form-control" id="newUserLogin" />

        <h3>User Password</h3>
        <input type="password" placeholder="Password" class="form-control" id="newUserPassword" />

        <input type="button" value="Create new User" class="add-user-btn btn btn-primary btn-lg" id="createNewUser" disabled="disabled" />

    </div>



</div>