<form class="form-inline home-login">
    <div class="form-group">
        <h3>Login:</h3>
        <input type="text" class="form-control" id="userLogin" placeholder="Enter Login">
    </div>
    <div class="form-group">
        <h3>Password:</h3>
        <input type="password" class="form-control" id="userPassword" placeholder="Enter Password">
    </div>
    <input type="button" id="loginBtn" value="Login" class="btn btn-default" disabled="disabled" />
</form>